<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="../scripts/jquery-3.4.1.min.js"></script>
    <script src="../scripts/app.js"></script>
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/fontawesome-free-5.11.2-web/css/all.css">
    <link rel="stylesheet" href="../styles/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <title>Scuffed Skype</title>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app-heading-container">
        <div class="app-heading">
            <h1 class="app-head" style="font-size: 150px"></h1>
        </div> <!-- app-heading -->
    </div> <!-- app-heading-container -->

    <div id="chat-view">
        <div id="chat-container">

            <div id="chat-users">

            </div>

            <div id="chat-message">

                <div id="flex-message-1">
                </div>

                <div id="flex-message-2">
                    <div id="send-container">
                            <input placeholder="Enter message" type="text">
                    </div> <!-- send-container -->
                </div> <!-- flex-message-2 -->
            </div> <!-- chat-message -->
        </div> <!-- chat-container -->
    </div> <!-- chat-view -->
</body>

</html>