html {
  background-size: cover;
  background-image: url("assets/SignIn-Background.jpg");
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/****** SIGN IN PAGE ****/

#flex-parent {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#flex-child {
  display: block;
  position: absolute;
  text-align: center;
  background-color: white;
  width: 20%;
  height: 50%;
  box-shadow: 8px 16px 22px 5px rgba(0,0,0,0.36);
  -webkit-box-shadow: 8px 16px 22px 5px rgba(0,0,0,0.36);
  -moz-box-shadow: 8px 16px 22px 5px rgba(0,0,0,0.36);
  opacity: .8;
  border-radius: 15px;
}
#signin-head {
  margin-top: 20%;
}

#display-name {
  margin-top: 35px;
  margin-bottom: 35px;
}
#signin-button {
  width: 100%;
  position: absolute;
  vertical-align: middle;
}
