html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('../assets/signin-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

/****** SIGN IN PAGE ****/

#flex-parent {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#flex-child {
  display: block;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: white;
  width: 300px;
  height: 375px;
  box-shadow: 8px 16px 22px 5px rgba(0,0,0,0.36);
  -webkit-box-shadow: 8px 16px 22px 5px rgba(0,0,0,0.36);
  -moz-box-shadow: 8px 16px 22px 5px rgba(0,0,0,0.36);
  opacity: .8;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

#flex-element {
  width: 100%;
  height: 100%;
  padding: 15% 10%;
}

/****** ANIMATIONS HERE ****/

.animateFullScreen {
  animation-fill-mode: forwards;
  -webkit-animation-name: fullscreen; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: fullscreen;
  animation-duration: 1s;
}

@keyframes fullscreen {
  from {
    border-radius: 15px;
    width: 300px;
    height: 375px;
    opacity: .8;
  }
  to {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes fullscreen {
  from {
    border-radius: 15px;
    width: 300px;
    height: 375px;
    opacity: .8;
  }
  to {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

/***** APP HERE *****/

.chat-head {
  width: 100%;
  height: 30%;
  margin: 0;
}
#chat-view {
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
}

#chat-message {
  display: none;
  width: 100%;
  height: 90%;
}


#chat-form {
  display: none;
  width: 40%;
  height: 40%;
  margin: 0 auto;
  padding-top: 15px;
}

#chat-count {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50px);
  margin-top: 10px;
}